[Unit]
Description="Metadata Catalogue"
After=network.target

[Service]
User=root
ExecStart=python3 /home/metacat/catalogue_ui/app.py -e prod -l /home/metacat/catalogue_ui/logs/

[Install]
WantedBy=multi-user.target